<!-- <div class="blurredElement"> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Points </th>
        <td mat-cell *matCellDef="let player"> {{getPoints(player)}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let player"> {{player.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="deck">
      <th mat-header-cell *matHeaderCellDef> Deck </th>
      <td mat-cell *matCellDef="let player"> {{player.deck}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="record">
      <th mat-header-cell *matHeaderCellDef> Record </th>
      <td mat-cell *matCellDef="let player"> {{getRecord(player)}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let player">
            <button mat-icon-button>
                <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
              </button>
          <span class="glyphicon glyphicon-minus-sign delete-button" (click)="deletePlayer(player)"></span></td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="hoverable" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openEditDialog(row)" [ngClass]="{'highlight': selectedRowIndex == row.id}"></tr>
  </table>

  <button mat-button (click)="createNewPlayer()">New Player</button>
<!-- </div> -->