<div style="min-height:400px">
    <div class="side-by-side"><app-player-form  [selectedPlayer]="players[0]" (selectedPlayerChange)="this.setCachedPlayerForIndex(0, $event)" [filePrefix]="'player1'" class="margins"></app-player-form></div>
    <div class="side-by-side"><app-player-form  [selectedPlayer]="players[1]" (selectedPlayerChange)="this.setCachedPlayerForIndex(1, $event)" [filePrefix]="'player2'" class="margins"></app-player-form></div>
</div>

<!-- <div class="side-by-side"><app-player-form  [selectedPlayer]="playerService.getSelectedPlayerByIndex(0)" (selectedPlayerChange)="setSelectedPlayerByIndex(0, $event)" [filePrefix]="'player1'" class="margins"></app-player-form></div> -->

<mat-card style="min-height:800px" >
        <mat-card-content>
          <mat-tab-group class="demo-tab-group">
            <mat-tab label="Card Search">
              <div>
               <app-card-finder></app-card-finder>
              </div>
            </mat-tab>
            <mat-tab label="Player 1 Deck">
                <div>
                    <app-player-deck-viewer [player]="players[0]"></app-player-deck-viewer>
                </div>
            </mat-tab>
            <mat-tab label="Player 2 Deck">
                <div>
                    <app-player-deck-viewer [player]="players[1]"></app-player-deck-viewer>
                </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>