<mat-card>
  <mat-card-content>
  <mat-form-field>
      <mat-select placeholder="Select player" [(ngModel)]="selectedPlayer" (ngModelChange)="playerChanged()">
        <mat-option *ngFor="let player of players" [value]="player" (click)="updatePlayerForm()">
          {{ player.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
  <form [formGroup]="playerForm" class="example-form">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name" [value]="selectedPlayer.name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Deck" formControlName="deck" [value]="selectedPlayer.deck">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Life" formControlName="life" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Poison" formControlName="poison" type="number">
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary"(click)="saveValues()">Save Player</button>
  <button mat-raised-button (click)="openEditDialog(selectedPlayer)">Edit Player</button>
</mat-card-content>
</mat-card>