<div class="normal-margin scrollable">
    <mat-grid-list class="grid-list" cols="8" rowHeight="1:2">
      <mat-grid-tile *ngFor="let card of deckList">
          <mat-card (click)="setDisplayCardUrl(card.imageUrl)" class="side-by-side card-background">
              <img mat-card-image [src]="card.imageUrl" class="card-hover">
              <mat-card-actions>
                <div>
                  <button mat-raised-button (click)="cardService.openOracle(card.multiverseid)">Oracle Text</button>
                  </div>
              </mat-card-actions>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>