.example-card {
    max-width: 20%;
    float: left
  }

  .card-hover {
      cursor: pointer;
  }

  .grid-list {
    background-color: #dddddd;
  }

  .display-card {
    margin: auto;
  }

  .scrollable {
    overflow-y:scroll;
    margin: auto;
    height: 350px;
  }

  .card-background {
    background-color: #efefef;
  }