<div>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Search for a card" [(ngModel)]="cardName">
  </mat-form-field>

  <button mat-button (click)="searchForCard()">Search</button>

  <!-- <div>
    <mat-card class="example-card">
        <img mat-card-image [src]="displayCardUrl">
        <mat-card-actions>
          <div class="display-card" >
            <button  mat-raised-button color="primary" (click)="downloadCardImage()">Update</button>
          </div>
          </mat-card-actions>
    </mat-card>
  </div> -->

  <div>
    <mat-grid-list class="grid-list" cols="8" rowHeight="1:2">
      <mat-grid-tile *ngFor="let card of cardList">
          <mat-card (click)="setDisplayCardUrl(card.imageUrl)" class="card-background">
              <img mat-card-image [src]="card.imageUrl" class="card-hover">
              <mat-card-actions>
                <div class="display-card">
                  <button mat-raised-button (click)="cardService.openOracle(card.multiverseid)">Oracle</button>
                  </div>
              </mat-card-actions>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>